* {
    margin: 0%;
    padding: 0%;
}

body {
    display: grid;
    grid-template-areas: "productos chat";
    grid-template-columns: 66vw 34vw;
}

.productos {
    grid-area: productos;
    border-collapse: collapse;
}

.productos td {
    border: 0.2em solid red;
}

.chat {
    grid-area: chat;
    justify-self: right;
    display: flex;
    flex-flow: column;
    height: fit-content;
    padding: 0.5em;
    border: 0.5em solid yellow;
    justify-content: end;
    max-height: 95vh;
    position: relative;
}

.sender {
    margin-top: 0.3em;
    border: 0.2em solid green;
    padding: 0.2em;
}

.messages {
    overflow-y: scroll;
    align-items: flex-start;
}

.message {
    margin-top: 0.3em;
    margin-bottom: 40px;
    /* display: inline-block; */
    position: relative;
    width: 200px;
    height: auto;
    background-color: lightyellow;
}

.ownMessage {
    align-self: flex-end;
    background-color: greenyellow;
    text-align: right;
    border: 5px solid #666;
}

/* Border */
.ownMessage:before {
    content: ' ';
    position: absolute;
    left: auto;
    right: 10px;
    bottom: -35px;
    border: 16px solid;
    /* Border color makes the triangular shape */
    border-color: #666 #666 transparent transparent;
}

.ownMessage:after {
    content: ' ';
    position: absolute;
    left: auto;
    right: 16px;
    bottom: -20px;
    border: 12px solid;
    border-color: greenyellow greenyellow transparent transparent;
}

.outerMsg {
    align-self: flex-start;
    background-color: rgb(85, 190, 164);
    text-align: left;
    border: 5px solid #666
}

.outerMsg::before {
    content: ' ';
    position: absolute;
    left: 10px;
    right: auto;
    top: auto;
    bottom: -40px;
    border: 20px solid;
    border-color: #666 transparent transparent #666;
}

.outerMsg::after {
    content: ' ';
    position: absolute;
    left: 16px;
    right: auto;
    top: auto;
    bottom: -20px;
    border: 12px solid;
    border-color: rgb(85, 190, 164) transparent transparent rgb(85, 190, 164);
}