<nav>
    <a href="/public">Productos</a>
</nav>
<form action="/" method="post">
    <label for="title">Title:</label>
    <input type="text" placeholder="Title" name="title">
    <label for="price">Price:</label>
    <input type="text" placeholder="Price" name="price">
    <label for="thumbnail">Thumbnail:</label>
    <input type="text" placeholder="Thumbnail" name="thumbnail">
    <button type="submit">Subir</button>
</form>

{{> show-product }}