<table id="lista-de-productos" class="productos">
    {{#each products}}
    <tr>
        <td>{{this.title}}</td>
    </tr>
    {{/each}}
</table>

<script src="/public/productListUpdater.js"></script>