<div class="welcome">
    <p>Welcome {{user}}</p>
    <p>Your role is: {{role}}</p>
</div>
<table id="lista-de-productos" class="productos">
    {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
        </tr>
    {{/each}}
</table>

<button id="logout">Logout</button>

<script src="/public/productListUpdater.js"></script>