<form action="/api/cookies/setCookie" method="post">
    <label for="user">User:</label>
    <input type="text" name="user" id="user">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit">Send</button>
</form>
<a href="/register">Register</a>