<h1>Login</h1>
<form action="/api/cookies/current" method="post">
    <label for="user">User:</label>
    <input type="text" name="user" id="user">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit">Send</button>
</form>
<form action="/api/cookies/JWTLogin" method="post">
    <p>Login with JWT</p>
    <label for="user">User:</label>
    <input type="text" name="user" id="user">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit">Send</button>
</form>
<a href="/register">Register</a>
<br>
<a href="/github">Entrar con GitHub</a>