<form action="/api/cookies/recoverpass" method="post">
    <label for="security_code">Security code</label>
    <input type="text" name="security_code" id="">
    <label for="newPass">New pass</label>
    <input type="password" name="newPass">
    <button type="submit">Enviar</button>
</form>