<form action="/createUser" method="post">
    <label for="user">Email:</label>
    <input type="text" name="user" id="user">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit">Register</button>
</form>